.barra_navegacao{
    height: 8vh;
    width: 100%;
    margin-top: -2vh;
    background-color: rgb(255, 113, 1);
}

.barra_navegacao ul li{
    color: white;
    font-family: Arial;
    float: left;
    list-style: none;
    margin-left: 10vh;
    margin-top: 1vh;
}

.barra_navegacao ul li a{
    position: absolute;
    transition: all 2s;
    color: white;
    text-decoration: none;
}
.barra_navegacao ul {
    position: absolute;
    margin-left: 16vh;
}

.barra_navegacao ul li  a:hover{
    transition: all 2s;
    font-size: 2vh;
    font-style: italic;
    color: black;
}
.localNav{
    background-color: rgb(230, 230, 230);
    color: rgb(255, 113, 1);
    font-family: Arial;
    margin-top: 8vh;
    position: absolute;
    width: 99.1%;
    height: 4vh;
}
.localNav h4{
    position: absolute;
    margin-left: 10vh;
    margin-top: 1vh;
}

.logo{
    color: white;
    margin-top: 1vh;
    margin-left: 2vh;
    height: 6vh;
    width: 19vh;
    position: absolute;
    font-size: 4vh;
    font-family: Arial;
}

.banner{
    height: 40vh;
    width: 100%;
    background-color: rgb(39, 190, 197);
    margin-top: 5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.banner article{
    margin-left: 6vh;
    margin-top: 10vh;
    position: absolute;
}
.banner h1{
    font-size: 5vh;
}

.banner button{
    color: white;
    font-size: 3vh;
}

#btBannerAnterior{
    background-color: rgb(255, 113, 1);
    height: 6vh;
    width: 6vh;
    padding: 2vh;
    margin-top: 34vh;
    position: absolute;
}
#btBannerProximo{
    background-color:rgb(255, 113, 1);
    height: 6vh;
    width: 6vh;
    padding: 2vh;
    margin-top: 34vh;
    margin-left: 185vh;
    position: absolute;
}
.CardsElementos{
    background-color: rgb(230, 230, 230);
    margin-left: 10vh;
    margin-top: 2vh;
    height: 40vh;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.card{
    height: 30vh;
    width: 20vh;
    background-color: rgb(242, 242, 242);
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    
}
.card h1{
    text-align: center;
    font-size: 3vh;
    color: rgb(39, 190, 197);
    font-family: Arial;
    font-weight: 500;
}
.card h4{
    text-align: center;
    color: rgb(0, 0, 0);
}
.cardProduto{
    text-align: center;
    background-color: rgb(242, 242, 242);
    height: 30vh;
    width: 20vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
}
.cardProduto h1{

    font-size: 3vh;
    font-weight: 500;
    font-family: Arial;
    color: rgb(39, 190, 197);

}
.cardProduto h4{
    color: rgb(0, 0, 0);

}
.cardProduto:hover{
    transition: all 1.0s;
    transform: scale(1.2);
}
.card03{
    background-color: rgb(242, 242, 242);
    height: 30vh;
    width: 20vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    text-align: center;
}
.card03 h1{

    font-size: 3vh;
    font-family: Arial;
    font-weight: 500;
    color: rgb(39, 190, 197);

}
.card03 h4{
    color: rgb(0, 0, 0);

}
.card03:hover{
    transition: all 1.0s;
    transform: scale(1.2);
}
.card:hover{
    transition: all 1.0s;
    transform: scale(1.2);
}
.sb{
    box-shadow: rgb(210, 210, 210) 0.1vh 0.1vh;
    }
footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 113, 1);
    color: white;
    margin-top: 5vh;
}
footer h4{
    width: 100%;
    text-align: center;
    padding: 3vh;
}
.SocialMedia{
    position: absolute;
    float: left;
}
.SocialMedia ul li{
    float: left;
    margin-left: 4vh;
    list-style: none;
}
.SocialMedia ul{
    margin-top: 2.5vh;
}
.SocialMedia ul li a img{
    height: 5vh;
}